%html
%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        %nav
          %ul.nav.pull-left
            %li= link_to "Home", '/home'
            %li= link_to "About",'/about'
          %ul.nav.pull-right
            %li= link_to "Sign up", '#'
            %li= link_to "Sign in", '#'
  .center.hero-unit
    %h3 Senators
    %p
      = @test_legislator.first_name + " " + @test_legislator.last_name + ", " + "\(#{@test_legislator.party}\)" + " " + @test_legislator.state
    %p
      %a{:href => "http://www.twitter.com/#{@test_legislator.twitter_id}"} Twitter
    %p
      %a{:href => "http://www.facebook.com/#{@test_legislator.facebook_id}"} Facebook
    %h3 Representatives