%html
  %head
    %title PIA
    = stylesheet_link_tag "application", media: "all", |
      "data-turbolinks-track" => true                  |
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <!-- / NAVBAR [TODO]: FIGURE OUT HOW TO APPLY TO PAGES THROUGH _HEADER FILE -->
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %nav
            %ul.nav.pull-left
              %li= link_to "Home", '/home'
              %li= link_to "About",'/about'
              / [FIXME] make sign in page and form system
            %ul.nav.pull-right
              %li= link_to "Sign up", '#'
              %li= link_to "Sign in", '#'
    .container
      = yield